<!DOCTYPE html>
<html lang="en-gb">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>Hotel Room Management System - {{ title }}</title>
    {% else %}
    <title>Hotel Room Management System</title>
    {% endif %}
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.png">
    <meta name="description" content="Hotel Room Management System: Manage bookings, arrivals, in-house guests, and room availability efficiently from a single dashboard.">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='layout_style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home_style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bookings_style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='reports_style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='b_details_style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='search_style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
     
</head>

<body>

    <header>
        <nav>
            <ul>
                <li class="logo">Hotel Room Management System</li>
                <li><a href="{{ url_for('home_bp.home') }}">Home</a></li>
                <li><a href="{{ url_for('reports_bp.reports') }}">Reports</a></li>
                <li class="dropdown">
                    <button aria-haspopup="true">Bookings </button>
                    <ul>
                        <li><a href="{{ url_for('search_bp.search') }}">Search Bookings</a></li>
                    </ul>
                </li>  
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>

</html>