<!DOCTYPE html>
<html lang="en-gb">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>Hotel Room Management System - {{ title }}</title>
    {% else %}
    <title>Hotel Room Management System</title>
    {% endif %}
</head>
<body>
    <header>
        <nav>
            <ul>
                <li class="logo">Hotel Room Management System</li>
                <li><a href="{{ url_for('home_bp.home') }}">Home</a></li>
                <li><a href="{{ url_for('reports_bp.reports') }}">Reports</a></li>
                <li class="dropdown">
                    <button aria-haspopup="true">Bookings </button>
                    <ul>
                        <li><a href="{{ url_for('search_bp.search') }}">Search Bookings</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>

</html>